.ResumeDiv {
    position: relative;
    width: 100%;
    height: 100vh;
    /* margin: 10%; */
    margin-top: 20px;
    overflow: scroll;
    /* margin: 0 auto; */
    /* left: 10%; */
    /* background-color: #DECBA4; */
}

.downloadBtn{
    position: relative;
    left: 25%;
    top: 10px;
}

@media(min-width: 1000px) {
    .ResumeDiv {
        left: 25%;
        /* overflow: hidden; */
        overflow-x: hidden;
        overflow-y: scroll; 
    }
    .downloadBtn{
        /* background-color: #3E5151; */
        /* color: #3E5151; */
        position: relative;
        left: 63.5%;
        top: 10px;
    }
}

