.centerDiv {
    position: relative;
    margin: 0 auto;
    /* transform: translate(0, 50%); */
    /* top: 40%; */
    left: 0;
    /* height: 80vh; */
    /* width: 100%; */
    /* text-align: center; */
    color: #3E5151;
    /* background-color: #DECBA4; */
    /* background-color:  */
    margin: 2%;
}



.mobileSocialMedia {
    display: block;
}

.SocialMediaDiv {
    display: flex;
    justify-content: center;
}

@media(min-width: 1000px) {
    .mobileSocialMedia {
        display: none;
    }
    .container{
        justify-content: center;
    }
}

.aboutBody {
    margin: 40px;
    text-align: center;
}

.featuresGrid {
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.profileHeading {
    color: #3E5151;
    background-color: #DECBA4;
    padding: 10px;
}

.postList {
    text-decoration: none;
    color: #3E5151;
}


/* body { font-family: Helvetica; }

div {
  width: 300px;
  margin: auto;
} */

.post {
    border-top: 2px dashed;
    border-color: #3E5151 !important;
    margin: 0;
    padding: 30px;
    counter-increment: section;
    position: relative;
}

.post:nth-child(even):before {
    content: counter(section);
    right: 100%;
    margin-right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: #3E5151;
    text-align: center;
    color: white;
    font-size: 110%;
}

.post:nth-child(odd):before {
    content: counter(section);
    left: 100%;
    margin-left: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 20px;
    width: 20px;
    background-color: #3E5151;
    ;
    text-align: center;
    color: white;
    font-size: 110%;
}

.post:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px;
    padding-right: 0;
}

.post:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px;
    padding-left: 0;
}

.post:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.post:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.mediumContent{
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    /* flex-direction: row-reverse; */
}

