.postList {
    text-decoration: none;
    color: var(--primary-color);
}

.postList:hover {
    text-decoration: underline;
}

.GitProjectTab {
    justify-content: space-evenly;
    color: #3E5151;
}

.codeSnippet {
    background-color: #3E5151 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    color: #DECBA4 !important;
}