.Toolbar {
    display: block;
    background-color: var(--header-background-color);
}


.Toolbar nav {
    height: 100%;
}

@media(max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}
@media(min-width: 1000px) {
    .Toolbar {
        display: none;
    }
}