.SkillDiv {
    margin: 0;
    display: none;
}

.skillRatingdiv {
    margin: 10%;
    /* text-align: center; */
    display: block;
    color: #3E5151;
    height: 100vh;
    overflow: hidden;
    margin-top: 10%;
}

@media(min-width: 1000px) {
    .SkillDiv {
        margin: 50px;
        display: block;
        height: 100vh;
        overflow: hidden;
        margin-top: 10%;
    }
    .skillRatingdiv {
        display: none;
    }
}