.ProjectCard {
    display: none;
    background-color: var(--header-background-color);
    margin-top: 50px;
}

@media(min-width: 1000px) {
    .ProjectCard {
        display: block;
    }
}

.mobileProjectCard {
    display: block;
}

@media(min-width: 1000px) {
    .mobileProjectCard {
        display: none;
    }
}

.textColor {
    color: #3E5151;
}

.textColor:hover {
    color: #DECBA4;
}